dist: trusty
sudo: false

language: node_js

node_js:
  - "7"
  - "6"

os:
  - linux
  - osx

# https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
before_script:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then export MOZ_HEADLESS=1; fi
